<div class="card" *ngIf="showform">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">

  <form  (ngSubmit)="onSubmit()">
              <div class="container1" >             
              <div class="form-group">                
                    <input type="text" placeholder="First Name" [(ngModel)]= "FirstName" name="firstname" class="form-control" />
                    </div>                  
                   
                    <div class="form-group">
                        <input type="text" placeholder="Sur Name" [(ngModel)]= "SurName"name="surname" class="form-control" />                      
                  </div>

                    <div class="form-group">
                        <input type="text" placeholder="Email Address" [(ngModel)]= "EmailAddress"name="email" class="form-control" />                      
                  </div>


                    <div class="form-group">
                        <input type="text" placeholder="Mobile No"[(ngModel)]= "MobileNo" name="mobile" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="password" placeholder="Password" [(ngModel)]= "Password"name="password" class="form-control" />                      
                  </div>


                  <div class="form-group">
                        <input type="text" placeholder="Delivery Pincode" [(ngModel)]= "DeliveryPincode"name="pincode" class="form-control" />                      
                  </div>


                  <div class="form-group">
                        <input type="text" placeholder="Delivery Time" [(ngModel)]= "DeliveryTime"name="delivery_time" class="form-control" />                      
                  </div>


                  <div class="form-group">
                        <input type="text" placeholder="Min Order" [(ngModel)]= "MinOrder"name="min_order" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="text" placeholder="Max Order" [(ngModel)]= "maxOrder"name="max_order" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="text" placeholder="Lead Time" [(ngModel)]= "LeadTime"name="Lead_Time" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="text" placeholder="Event Type" [(ngModel)]= "EventType"name="eventType" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="file" placeholder="GST Certificate" [(ngModel)]= "GSTCertificate"name="gst" class="form-control" />                      
                  </div>

                   <div class="form-group">
                        <input type="file" placeholder="Food Certificate" [(ngModel)]= "FoodCertificate"name="food" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="text" placeholder="Score" name="scores" [(ngModel)]= "Scores"class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="file" placeholder="File Upload" [(ngModel)]= "FileUpload"name="file" class="form-control" />                      
                  </div>

                <div class="col-md-6">
                  <div class="material-group">                  
                    <div class="form-group form-primary">
                      <!-- <ng-multiselect-dropdown
                      [placeholder]="'Select Package'"
                      [data]="dropdownList"
                      [(ngModel)]="selectedItems1"
                      [settings]="dropdownSettings1"
                      name="selectedItems1"
                        >
                    </ng-multiselect-dropdown> -->
                    </div>
                  </div>
                </div>

                         
            <div class="error">
         {{error}} 
         </div>
           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>
                  


                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="submit" style="margin-left: 10px"  >{{map_id ? 'Update':'Save'}}</button>
                 </div>
              </div>
  </form>
 

</div>




</div>
</div>

</div>
</div>
</div>



  
<div class="card">
  <div class="col-sm-12 card-header">
    <div class="row">
      <div class="col-sm-12">
        <label class="dt-cust-search float-right">
         <!--  <button  class="btn btn-primary m-b-0 waves-light" mdbRippleRadius type="button" (click)="addAction()"> Add</button> -->
        </label>

       

        <label class="dt-cust-search float-right">
          <img src="assets/images/search.png" style="width: 21px;float: left;margin-top: 8px;">
          <div class="form-group" style="float: left">
            <!-- <label>Search: </label> -->

            <input type='text' class="form-control input-sm m-l-10" placeholder='Search' (keyup)='updateFilter($event)' style="background: none;border: none;border-bottom: 1px solid #d6d2d2;" />
          </div>
        </label>
      </div>
    </div>
  </div>

    <!-- <app-card [title]="'Map Management'"> -->
    <div class="card-body">
      <!--<span class="m-b-20">use class <code>data-table</code> with ngx-datatable</span><br><br>-->
      <ngx-datatable
        class="data-table"
        [rows]="rowsFilter"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [limit]="10">

        <ngx-datatable-column [width]="80" name="S.No">          
         <ng-template let-rowIndex="rowIndex" let-row="row"  let-expanded="expanded" ngx-datatable-cell-template>
                {{rowIndex+1}}
         </ng-template>       
        </ngx-datatable-column>
     
      <ngx-datatable-column name="First Name" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.usr_first_name}}
        </ng-template>

      </ngx-datatable-column>    

        <ngx-datatable-column name="Sur Name" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.usr_sur_name}}
        </ng-template>

      </ngx-datatable-column>    

      
       <ngx-datatable-column name="Email Address" prop="v1">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.usr_email_address}}
        </ng-template>

      </ngx-datatable-column> 
       <ngx-datatable-column name="Mobile No" prop="v2">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.usr_mobile_no}}
        </ng-template>

      </ngx-datatable-column> 


      <ngx-datatable-column  name="Actions">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
           
           <a  style="cursor: pointer;"  title="View" (click)="viewAction(row.user_id)"><img class="data_img" src="assets/images/view.png"></a>
          <!-- <a  style="cursor: pointer;" title="Edit" (click)="edit(row.user_id)"><img class="data_img" src="assets/images/edit.png"></a> -->
          <a  style="cursor: pointer;" title="Delete"  (click)="delete(row.user_id)"><img class="data_img" src="assets/images/delete.png"></a>
          

        
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!-- </app-card> -->
  </div>

